[submodule "protobufs"]
	path = protobufs
	url = https://github.com/IhorNehrutsa/protobufs.git
	branch = ptd
[submodule "speex"]
	path = speex
	url = https://gitlab.xiph.org/xiph/speex.git
[submodule "opus"]
	path = opus
	url = https://gitlab.xiph.org/xiph/opus.git
